body,p,span{
	font-family: 'Roboto', sans-serif;
	color: #606060;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Rubik', sans-serif;
	color: #111;
	font-weight: 500;
}

/* Begain Custom CSS */
.header-section .container-fluid,
.banner-section .container-fluid {
    max-width: 1280px;
}
.choose-area .container-fluid{
	max-width: 1220px;
}
img{
	max-width: 100%;
}
.primary-text span,
span.primary-text{
	color: #E83B3E;
	font-size: 16px;
	font-weight: 400;
}
.primary-text h1,
h1.primary-text{
	color: #111;
	font-size: 36px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 16px;
}
.primary-text h2,
h2.primary-text{
	color: #111;
	font-size: 36px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 16px;
}
.primary-text p,
p.primary-text{
margin-bottom: 15px;
line-height: 1.8;
color: #606060;
font-weight: 400;
font-size: 16px;
}

.bg-gray{
	background: #f9fafb;
}

/* Start Header Section */
.header-section .navbar.is-sticky {
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
	background-color: #ffffff !important;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
} 

/* Menu */
ul.header-menu> li> a {
	font-weight: 500;
	font-size: 16px;
	padding: 20px 0 !important;
    margin: 0 15px;
    color: #111 !important;
    transition: 0.2s;
}
ul.header-menu> li:hover> a{
    color: #E83B3E !important;
}

ul.header-menu> li:first-child> a{
    color: #E83B3E !important;
}

/* Dropdown Menu */
ul.header-menu li{
	position: relative;
}
ul.header-menu li ul{
	position: absolute;
	left: 0;
	top: 125%;
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	width: 250px;
	padding: 10px 0;
	z-index: 100;

	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
}

ul.header-menu li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 100%
}



ul.header-menu li ul li{
	text-align: left;
	list-style: none;
}
ul.header-menu li ul li a{
	display: block;
	font-size: 1rem;
	color: #212529 !important;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: 500;
	transition: all .3s ease-in-out;
}
ul.header-menu li ul li a:hover{
	letter-spacing: 1px;
	color: #E83B3E !important;
}

ul.header-menu li ul li {
	position: relative;
}
ul.header-menu li ul li ul.sub-drpdn{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;

	visibility: hidden;
	opacity: 0;
}
ul.header-menu li ul li:hover ul.sub-drpdn{
	visibility: visible;
	opacity: 1;
	left: 100%;
	
}
ul.home-submenu li:nth-child(2) a{
	color:  #E83B3E !important;
	letter-spacing: 1px;;
}



.header-search{
    width: 60px;
}
.header-search span {
	font-size: 23px;
	font-weight: 600;
	margin-left: 6px;
	margin-top: -5px;
    display: inline-block;
    position: relative;
}
.header-search span::before {
	content: "";
	background: #dadada;
	width: 1px;
	height: 100%;
	top: 2px;
	right: -15px;
	position: absolute;
}
.header-call {
    width: 200px;
}
.header-call-icon span i {
	font-size: 30px;
	margin-left: 0;
	color: #e83b3e;
}
.header-call-info span.call-info-heading {
	font-weight: 400;
	color: #767676;
	font-size: 16px;
}
.header-call-info span.call-info-number a {
	color: #111 !important;
	font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.btn-danger{
	background-color: #E83B3E;
	border: none;
	padding: 12px 45px;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	transition: all .3s ease-in-out;
	overflow: hidden;
}
.btn-danger::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 0;
	background-color: #111;
	z-index: -1;
	transition: 0.3s;
}
.btn-danger:hover::after{
	width: 120%;
	height: 120%;
}

/* Start Banner Section */

.banner-section{
	background: url('assets/img/main-banner2.jpg') no-repeat center center / cover fixed;
}
.banner-section-wrap{
	display: flex;
	align-items: center;
	height: 110vh;
	position: relative;
}
.banner-social{
	position: absolute;
	left: 20px;
	bottom: 10px;
}

.banner-caption span {
	color: #e73c3e;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 10px;
	display: block;
}
.banner-caption h1 {
	font-size: 68px;
	font-weight: 500;
	margin-bottom: 18px;
}
.banner-caption p {
	font-size: 18px;
	font-weight: 400;
	color: #606060;
	margin-bottom: 25px;
}
.banner-social ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.banner-social ul li {
	margin: 0 5px;
	font-size: 18px;
}
.banner-social ul li span {
	position: relative;
	margin-right: 30px;
}
.banner-social ul li span::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	right: -41px;
	height: 1px;
	width: 30px;
	background-color: #111;
}
.banner-social ul li a {
	color: #111;
	transition: all ease-in-out 0.25s;
	padding: 5px 10px;
}
.banner-social ul li a:hover {
	color: #e83b3e;
}

/* About Section */
.about-img{
	position: relative;
}
.about-sub-img {
	background: url('assets/img/about/shape.png') no-repeat;
	position: absolute;
	bottom: 0;
	right: 19px;
	height: 210px;
	width: 210px;
	background-size: contain;
	background-position: center;
}
.about-img-concept h3 {
	font-size: 70px;
	color: #e73c3e;
	font-weight: 500;
}
.about-sub-img span {
	font-size: 16px;
	color: #111;
	font-weight: 500;
}


.about-content strong {
	font-size: 18px;
	color: #606060;
	font-weight: 400;
	margin-bottom: 20px;
	display: inline-block;
}
.about-content ul {
	padding-left: 0;
	list-style: none;
}
.about-content ul li{
	color: #606060;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 16px;
}
.about-content ul li::before{
	content:'\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: #e73c3e;
	font-size: 20px;
	margin-right: 10px;
}

/* Choose are Section */
.choose-area{}
.choose-area .choose-img{
	position: relative;
}
.choose-area .choose-img img{}
.choose-area .play-btn {
	background: #fff;
	color: #e73c3e;
	height: 80px;
	width: 80px;
	line-height: 80px;
	border-radius: 50%;
	position: absolute;
	bottom: 65px;
	right: 210px;
	font-size: 55px;
	text-align: center;
	display: inline-block;
	transition: all .4s ease-in-out;
	z-index: 1;
	
}
.choose-area .play-btn:hover {
	background:#e73c3e;
	color: #fff;
}

/* choose btn animation */
.choose-area .play-btn::before{
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background-color: #e73c3e;
	animation: playbtn 1.6s ease-out infinite;
	animation-timing-function: linear;
	z-index: -1;
}
@keyframes playbtn{
	0%,35%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.5);
		opacity: .5;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

.choose-area-features {
	background: #fff;
	margin-bottom: 1.5rem;
	padding: 30px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	transition: all .3s ease-in-out;
}
.choose-area-features::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: -125px;
	left: 0;
	right: 0;
	margin: auto;
	background: #fdebeb;
	height: 75%;
	width: 95%;
	border-radius: 50%;
}
.cftr-icon i {
	color: #e83b3e;
	width: 80px;
	height: 80px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	line-height: 80px;
	display: inline-block;
	transition: all .3s ease-in-out;
}
.choose-area-features h3 {
	font-size: 25px;
	margin-bottom: 17px;
	margin-top: 10px;
}
.choose-area-features p {
	font-size: 16px;
	margin-bottom: 0;
}
.cftr-icon i[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 50px;
}
.caf-last-card {
	margin-top: -24px;
}

/* choose card hover */

.choose-area-features:hover{
	transform: translateY(-12px);
}
.choose-area-features:hover .cftr-icon i {
	color: #fff; 
	background-color: #e83b3e; 
}

/* Apply Form Section */

.apply-form{}
.apply-now-list-item {}
.apply-now-list-item ul {
	margin-bottom: 35px;
	position: relative;
	padding-left: 55px;
}
.apply-now-list-item ul::before{
	content: '';
	position: absolute;
	width: 1px;
	height: calc(100% - 100px);
	background: #e73c3e;
	left: 20px;
	top: 30px;

}
.apply-now-list-item ul li{
	list-style: none;
	position: relative;
}
.apply-now-list-item ul li::before {
	content: attr(data-counter);
	position: absolute;
	left: -55px;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e73c3e;
	text-align: center;
	border-radius: 50%;
	background-color: #f9fafb;
	color: #e83b3e;
	font-size: 24px;
}
.apply-now-list-item ul li strong {
	font-size: 24px;
	color: #111;
	padding-bottom: 10px;
	display: block;
}
.apply-now-list-item ul li p{}

/* calculate rate form */
.calculate-rate{
	background-color: #fdebeb;
	border-radius: 6px;
}
.calculate-rate-form .form-group .form-control-lg {
	min-height: calc(1.5em + 1rem + 2px);
	padding: .5rem 1rem;
	font-size: 1.25rem;
	border-radius: .3rem ;
}

/* Call to Action Section Start */
.call-to-action-bg{
	background-color: #e73c3e;
	padding: 60px 45px;
	color: #fff;
	border-radius: 6px;
}
.call-to-action-bg h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	position: relative;
}
.call-to-action-bg h1::after {
	content: '';
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	background: #f9f9f9;
}
.call-to-action-items i {
	border-radius: 50%;
	background: #fff;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	margin-right: 25px;
	color: #e73c3e;
	font-size: 30px;
}
.call-to-action-items a{
	text-decoration: none;
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

/* Company Value Section Start */
.company-value-title h3{
	font-size: 36px;
	font-weight: 500;
}
.company-value-items{
	position: relative;
}
.company-value-items .value-icon{
	position: absolute;
	top:0;
	left: 0;
}
.company-value-items .value-icon span {
	color: #e83b3e;
	font-size: 50px;
	line-height: normal;
}
.company-value-items .value-concept {
	padding-left: 65px;
	padding-bottom: 10px;
}
.company-value-items .value-concept h3 {
	font-size: 25px;
	margin-bottom: 10px;
}
.company-value-items .value-concept p{}

/* Service Section Start */
.service-items li{
	flex: 1 1 auto;
}
.services-tab{}
.services-tab> ul {
	border-bottom: 1px solid #cbcbcc;
	margin-bottom: 40px !important;
}
.services-tab> ul li {
	width: 16.66%;
	position: relative;
}
.services-tab ul li a {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	color: #111 !important;
}
.services-tab ul li a span i {
	font-size: 45px;
	background: #fff;
	height: 80px;
	width: 80px;
	line-height: 80px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
	color: #606060;
	transition: .5s;
}
.services-tab ul li a.active span i {
	color: #e83b3e;
}
.services-tab> ul li a.active{
}
.services-tab> ul li a.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #e83b3e;
}
.services-tab ul li a strong {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 30px;
}
.service-tab-contents{}
.service-tab-text {
	margin-bottom: 20px;
}
.service-tab-text h3 {
	font-size: 25px;
	margin-bottom: 14px;
	font-weight: 500;
}
.service-tab-text p {
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	margin-bottom: 0;
}
.service-tab-text.last{
	margin-bottom: 0;;
}
.service-tab-contents .list {
	margin-bottom: 20px;
}
.service-tab-contents .list h3{
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 500;
}
.service-tab-contents .list ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.service-tab-contents .list ul li {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
	padding-left: 20px;
	position: relative;
}
.service-tab-contents .list ul li::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 6px;
	left: 0;
	background: #e83b3e;
	border-radius: 50%;
}

/* testimonial section */
.testimonial-slider-text p {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
	color: #111;
	margin-bottom: 20px;
}
.founder-details h5 {
	font-size: 16px;
	color: #e83b3e;
	font-weight: 500;
}
.founder-details span {
	font-size: 16px;
}
.founder-img {
	position: relative;
}
.founder-img span {
	position: absolute;
	bottom: 55px;
	left: 80px;
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 50px;
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
	color: #e83b3e;
	cursor: pointer;
	transition: all .4s ease-in;
}
.founder-img span:hover{
	background: #e83b3e;
	color:#fff;
}

/* Team Member Section */


.team-member-details h5 {
	color: #e73c3e;
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: 500;
}
.team-member-details span {
	font-size: 16px;
	font-weight: 400;
}
.team-member-img{
	position: relative;
	margin-bottom: 20px;
}
.team-member-img img{
	width: 100%;
	height: auto;
}
.team-members-social{}
.team-members-social ul {
	text-align: center;
	list-style: none;
	padding: 0;
	position: absolute;
	bottom: 20px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.team-members-social ul li {
	display: inline-block;
	margin: 0 1px;
	transform: translateY(100%);
	visibility: hidden;
	opacity: 0;
	transition: all .4s ease-in-out 0s;
}
.team-members-social ul li a{
	display: block;
	width: 35px;
    height: 35px;
    background-color: #f4f5fe;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #111111;
    border-radius: 30px;
	transition: 0.5s;
	line-height: 35px;
}
/* hover items */
.team-members-social ul li a:hover{
	background: #e73c3e;
	color: #fff;
}
.team-member-img:hover .team-members-social ul li{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.team-members-social ul li:nth-child(1){
	transition-delay: .2s;
}
.team-members-social ul li:nth-child(2){
	transition-delay: .3s;
}
.team-members-social ul li:nth-child(3){
	transition-delay: .4s;
}
.team-members-social ul li:nth-child(4){
	transition-delay: .5s;
}

/* Blog Section Start */
.blog-text {
	margin-top: 25px;
}
.blog-text span {
	font-size: 16px;
	color: #e73c3e;
	display: inline-block;
	margin-bottom: 10px;
}
.blog-text h3 a {
	font-size: 25px;
	line-height: 1.4;
	font-weight: 500;
	margin-bottom: 10px;
	transition: all ease-in .3s;
	text-decoration: none;
}
.blog-text a {
	font-size: 16px;
	color: #111;
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
	transition: all ease-in .3s;
}
/* Blog Hover */
.blog-content:hover .blog-text> a{
	color: #e73c3e;
	letter-spacing: 1px;
}
.blog-text h3 a:hover{
	color: #e73c3e;
}

/* Footer Section */
.footer-section{
	background: #111;
	color: #fff !important;
}
/* Footer Top */
footer p, footer a, footer span, footer footer li, footer h5, footer i {
	color: #fff;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
	transition: all ease-in .4s;
}
.footer-top-1{}
.footer-top-1 img {
	margin-bottom: 2rem;
}
.footer-top-1 p {
	font-size: 16px;
	line-height: 1.8;
	margin-bottom: 25px;
}
.footer-contact-info .icon {
	margin-right: 20px;
}
.footer-contact-info .icon i {
	color: #fff;
	font-size: 20px;
}
.footer-social-icons span {
	font-weight: 600;
	display: inline-block;
}
.footer-social-icons ul {
	list-style: none;
	padding-left: 10px;
	margin-bottom: 0;
}
.footer-social-icons ul li {
	display: inline-block;
	margin: 0 10px;
}
.footer-social-icons ul li:last-child{
	margin-right: 0;
}
.footer-social-icons ul li a i{
	transition: all .3s ease-in
}
.footer-social-icons ul li a:hover i{
	color: #e73c3e !important;
	transform: scale(1.3);
}
.footer-top-2{}
.quick-link{}
.footer-top h5, .footer-top-2 h5, .footer-top-3 h5, .footer-top-4 h5, .quick-link h5 {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 22px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333535;
}
.quick-link ul.footer-sub-menu {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
.quick-link ul.footer-sub-menu li {
	margin-bottom: 15px;
}
.quick-link ul.footer-sub-menu li a:hover {
	letter-spacing: 1px;
	color: #e73c3e
}
.footer-top-3{}
.footer-top-4{}
.footer-contact-info{}
.footer-contact-info .d-flex {
	align-items: center;
}
.footer-contact-info .d-flex {
	align-items: center;
	margin-bottom: 18px;
}
.footer-contact-info .icon {}
.footer-contact-info .icon i{}
.footer-contact-info .address{}
.footer-contact-info .address span {
	display: block;
}
.footer-contact-info .address a:hover {
	color: #e73c3e;
}
.footer-bottom {
	border-top: 1px solid #292929;
}
.footer-bottom span {
	color: #606060;
}
.footer-bottom span a {
	font-weight: 500;
	padding-left: 5px;
}
.footer-bottom span a:hover{
	color: #e73c3e;
}



































/* Go To Top */

.go-top.active {
	opacity: 1;
	visibility: visible;
	bottom: 20px;
}
.go-top {
	position: fixed;
	cursor: pointer;
	bottom: -100px;
	right: 20px;
	color: #ffffff;
	background-color: #111111;
	z-index: 4;
	width: 45px;
	text-align: center;
	height: 45px;
	opacity: 0;
	visibility: hidden;
	border-radius: 50%;
	font-size: 22px;
	-webkit-transition: .9s;
	transition: .9s;
	overflow: hidden;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.go-top i {
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}
.go-top:hover {
	background-color: #e73c3e;
	color: #ffffff;
	transition: 0.5s;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}